html{
  background-color: #EEEEEE;
}
body {
  clear: both;
  padding: 50px;
  background-color: bisque;
  font: 16px "brandon-grotesque", "Open Sans", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
  margin-top: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
}
td{
  font-size: 14px;
}
header .title{
  text-align: center;
  clear: none;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2.title
{
text-align: center;
font-size: 40px;
}

.table-index{
  margin: auto;
}

.title{
  font-family: "brandon-grotesque";
  text-transform: uppercase;
  color: #00ADB5;
  clear: both;
  margin: auto;
}
header .logo{
  float: left;
  height: 50px;
  width: 80px;
}
.titleform
{
  color: orange;
}

.div-index{
  background-color: #00ADB5;
  width: 100%;
}

.text{
 width: 300px;
}
.textarea
{
  width: 325px;
  height: 350px;
}
.nostyle{
  text-decoration: none;
   color: black;
}